{% extends "base.html" %}
{% include "navbar.html" %}
{% block content %}
<div class="container">
  {% for todo in all_todo %}
  <div class="card text-center m-lg-5 my-4"  id="todo-{{todo.id}}">
    <div class="card-header">
      Featured
    </div>

    <div class="card-body">
      <h5 class="card-title title"> {{todo.title}} </h5>
      <p class="card-text description"> {{todo.desc}} </p>

      <a class="btn btn-danger   delete"    data-id = "todo-{{todo.id}}" data-bs-toggle="tooltip" title="remove"> <i class="bi bi-trash px-4">    </i> </a>
      <a class="btn btn-info     edit"      data-id = "todo-{{todo.id}}" data-bs-toggle="modal" title="edit" data-bs-target="#exampleModal"> <i class="bi bi-pencil-fill px-4"> </i> </a>
      <a class="btn btn-success  complete"  data-id = "todo-{{todo.id}}" data-bs-toggle="tooltip" title="completed"> <i class="bi bi-check-lg px-4"> </i> </a>
    </div>

    <div class="card-footer text-muted">
      {{todo.created_at.strftime('%d-%m-%Y %H:%M')}}
    </div>
  </div>
  {% endfor %}

  <script src="{{ url_for('static', filename='js/src.js') }}"></script>
</div>
{% endblock %}